tests/ export-ignore
examples/ export-ignore
tools/ export-ignore
hooks/ export-ignore

.php-cs-fixer.dist.php export-ignore
.editorconfig export-ignore
phpunit.xml export-ignore
.vscode/ export-ignore
install-hooks.sh export-ignore