<phpunit
  bootstrap="vendor/autoload.php"
  colors="true" >

<testsuites>
  <testsuite name="Telegram"><directory suffix=".php">tests/Telegram</directory></testsuite>
  <testsuite name="Telegram types"><directory suffix=".php">tests/Types</directory></testsuite>
</testsuites>

<php>
  <env name="BOT_TOKEN" value="BOT_TOKEN"/>
  <env name="TELEGRAM_CHAT_ID" value="996202950"/>
</php>
</phpunit>
